body {
  background-color: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.3s;
}

body.light {
  background-color: #f1f5f9;
  color: #0f172a;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 16px;
  width: 300px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

body.light .card {
  background: white;
}

img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#btnSalam {
  background-color: #38bdf8;
}

#btnTema {
  background-color: #a855f7;
  color: white;
}
